name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-20.04
    name: Elixir ${{ matrix.elixir }} / OTP ${{ matrix.otp }} with ${{ matrix.parser }}

    strategy:
      fail-fast: false
      matrix:
        elixir: ["1.14", "1.12"]
        otp: ["26.0", "25.3", "22.3"]
        parser: [fast_html, html5ever, mochiweb]
        exclude:
          - elixir: "1.14"
            otp: "22.3"

          - elixir: "1.12"
            otp: "25.3"

          - elixir: "1.12"
            otp: "26.0"

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1.14
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Check format
        run: mix format --check-formatted
        if: matrix.elixir == '1.14'

      - name: Install dependencies
        run: mix deps.get

      - name: Check for unused dependencies
        run: mix deps.unlock --check-unused

      - name: Install CMake
        uses: lukka/get-cmake@v3.24.3
        if: matrix.parser == 'fast_html'

      - name: Run test
        run: |-
          MIX_ENV=test mix test_${{ matrix.parser }}
